*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
    background-image: url('https://media4.giphy.com/media/rcUnyhf25Bu1y/giphy.gif');
}




